<!doctype html>
    <html lang="ko">
    <head>
      <mata charset="utf-8">
    </head>
    <body>
      <div>
        <ul id="messages"></ul>
      </div>
      <div>
        <input id="message" type="text" />
        <button onclick="handleSendMSG()">submit</button>
      </div>


      <script src="https://cdn.socket.io/4.4.1/socket.io.js" ></script> 
      <script src="/socket-io/socket-io.js"></script> 
    </body>
    </html>